# Ignore build directory.
/_build/

# Ignore coverage assets.
/cover/

# Ignore the external dependencies.
/deps/

# Ignore VM crash dump.
erl_crash.dump

# Ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
ledger-*.tar

# Ignore temporary files.
/tmp/

# Ignore mix's lockfile.
mix.lock

# Ignore IDE files
.vscode/
